/* NOTE - Asterix calls on all elements */

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Fauna One', serif;
    overflow-y: scroll;
    overflow-x: hidden;
}

p{
    font-size: 14px;
}
